Source: dr-valentin
Section: misc
Priority: standard
Maintainer: Equipo LliureX <lliurex@gva.es>
Build-Depends: llxsrchelper,debhelper (>= 7), llxcfg-dev, librsvg2-bin, zero-dev
Standards-Version: 3.9.3

Package: dr-valentin
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, python, n4d, dr-valentin-common
Description:  Lliurex Diagnostic tool
 Package to create system diagnostics
