<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <action id="net.lliurex.zero-center.dr-valentin.launcher">
		  <message gettext-domain="/usr/share/dr-valentin/core.py">Authentication is required to run dr-valentin</message>
    <icon_name>dr-valentin</icon_name>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>no</allow_active>
    </defaults>
	<annotate key="org.freedesktop.policykit.exec.path">/usr/share/dr-valentin/core_cli.py</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">false</annotate>
  </action>
</policyconfig>
